# CI workflow

name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  install:
    name: Test
    env:
      package-name: ionoscloud
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    outputs:
      go-version: ${{ env.go-version }}
      package-name: ${{ env.package-name }}

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version-file: 'go.mod'

      - name: Regenerate mocks
        run: |
          go install github.com/golang/mock/mockgen@latest
          make mock_update

      - name: Check code format
        run: make gofmt_check
        if: matrix.os == 'ubuntu-latest'

      - name: Run tests
        run: make test

      - name: Build
        run: make build

      - name: Clean artifacts
        run: make clean
